body{
    background-color: gray;
}
.main{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}
.btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;       /* Make buttons stretch to container width */
    width: 200px; 
}
button{
    padding: 10px 20px;     
    font-size: 16px;        
    cursor: pointer; 
    flex-grow: 1;
    text-align: center; 
}
